{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>
  {% block title %}
     Sluush website
  {% endblock title %}
</title>
<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
  <header id="header">
    <div id="logo"><img src="{% static 'logo.jpg' %}" alt=""/></div>
    <div id="topbanner"><img src="{% static 'beach.jpg' %}" width="800" height="200" alt=""/></div>
  </header>
  <aside id="leftsidebar">
    <nav id="nav">
        <ul>
            {% block sidenav %}

              <li>Medical Tips</li><li>Health Insurance</li><li>Tools</li>

            {% endblock sidenav %}
        </ul>
    </nav>
  </aside>
  <section id="main">
      {% block content%}

    <h1>Welcome!</h1>
    <p>This is the site template</p>

      <p>This is the site template</p>
      {% endblock content%}
  </section>
  <footer id="footer">Copyright &copy; 2018 Sluush Web Design</footer>
</div>
</body>
</html>
